<div class="container">

    <div class="col-sm-6">

        <form #myForm="ngForm">
            <div class="row">
                <div class="col-sm-12">
                    <label for="firstName">First Name</label>
                    <input type="text" ngModel name="firstName" class="form-control form-control-sm" required>
                </div>
                <div class="col-sm-12">
                    <label for="firstName">Last Name</label>
                    <input type="text" ngModel name="lastName" class="form-control form-control-sm" required>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 pt-2">
                    <input type="radio" name="contactMethod" value="phone" [(ngModel)]="selectedMethod">phone
                    <input type="radio" name="contactMethod" value="email" [(ngModel)]="selectedMethod">Email
                </div>
                <div class="col-sm-6 pt-2">
                    <div *ngIf="selectedMethod ==='phone' ">
                        <input type="text" name="phoneNumber" ngModel placeholder="phone Number" required>
                    </div>
                    <div *ngIf="selectedMethod==='email'">
                        <input type="email" name="emailAddress" ngModel placeholder="Email Address" required>
                    </div>
                </div>
            </div>
            <button (click)="onclick()">Submit</button>


        </form>
    </div>
</div>